<!DOCTYPE html>
<html lang="en">
<head>
  <title>Memories of Batuhan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Memories of Batuhan</h1>
  <p>Life to me is like trains passing by sometimes I jump on, and sometimes I jump off.</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Friends</h3>
      <dl>
        {% for connection in connections %} 
        <dt>{{connection}}</dt>
        {% for friend in friends %}
        {% if friend.connection == connection %}
        <dd>- {{friend.name}}</dd>
        {% endif %}
        {% endfor %}
        <p></p>
        {% endfor %}
      </dl>
    </div>
    <div class="col-sm-4">
        <h3>States</h3>
        <dl>
          <dt>States Visited: {{states|length}}/50</dt>
          {% for state in states %} 
          <dd>- {{state}}</dd>
          {% endfor %}
          <p></p>
        </dl>
    </div>
    <div class="col-sm-4">
        <h3>Hobbies</h3>
        <dl>
          {% for hobby in hobbies %} 
          <dd>- {{hobby}}</dd>
          {% endfor %}
          <p></p>
        </dl>
    </div>
  </div>
</div>

</body>
</html>